<h1>Pizzas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Toppings</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @pizzas.each do |pizza| %>
      <tr>
        <td><%= pizza.name %></td>
        <td><%= pizza.toppings.map(&:name).join(', ') %></td>
        <td>
          <%= link_to 'Show', pizza_path(pizza) %>
          <%= link_to 'Edit', edit_pizza_path(pizza) %>
          <%= link_to 'Destroy', pizza_path(pizza), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Pizza', new_pizza_path %>
